$color-white: #fff;
$green-gradiant: linear-gradient(180deg, #193f3d 0%, rgb(101 125 126 / 61%) 86%);
$green-gradiant2: linear-gradient(90deg, #193f3d 65%, rgba(101, 125, 126, 0.8) 100%);
$color-green: #193f3d;
$co1or-orange: #b27208;
$layer-bg: rgba(23, 58, 56, 0.8117647058823529);
$input-bg: #ffffff12;
