.item-contain{
    margin-right: 30px;
}
.item-contain h4{
    text-align: left;
    font-size: 20px;
}
.carousel{
    text-align: center;
}
.news-icon-contain span{
    float: left;
    color: #b27208;
    font-weight: 100;
}
.news-icon-contain{
    margin-top: 10px;
}
.news-icon-contain svg{
 float: right;
}