.card-contain{
  text-align: center;
  border: 1px solid;
  padding-top: 25px;
  /* max-height: 142px; */
  padding-bottom: 6px;
  position: relative;
  top: 15px;
}
.card-contain:hover{
    background-color: white;
    color: #b27208;
}
.card-contain p{
  font-size: 14px;
  text-transform: capitalize;
}
.card-contain svg{
  font-size: 33px;
}

.btn-row span{
  text-transform: capitalize;
}
.btn-row button{
  margin-left: 9px;
}



