$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    }
}



.logo {
    width: 120px;
    float: right;
    padding: 13px;
}
.darkMode-contain{
    padding-left: 30px;
    font-size: 22px;
    position: relative;
    top: 3px;
    color: white;
}
.darkMode-contain span{
    
    padding-left: 30px;
    padding-right: 30px;
}
.border-left{
    border-left: 1px solid #fff;
}
.border-right{
    border-right: 1px solid #fff;
}
.border-bottom{
    // padding: 0;
    border-bottom: 1px solid #fff;
}
.searchContain img{
    padding-right: 30px;
}
.searchContain span{
    padding-right: 30px;
    color: white;
    text-transform: uppercase;
}
.searchContain button{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 2px 20px;
    border-radius: 20px;
    color: white;
}
// .bg{
//     // background-color: gray;
// }
.darkMode-contain{
    float: right;
    padding: 22px 0px;
}
.darkMode-contain img{
    width: 16px;
}
.searchContain{
    text-align: center;
    padding: 22px;

}
.bg{
    background-image: url('../img/banar.png');
    background-size: cover;
}
.menue-contain img{
    padding: 25px;
}
.displayNone{
    display: none;
}
.displayblock{
    display: block;
}
.navbar{
    border-top: 1px solid #fff;
    position: absolute;
    background-color: #193f3d;
    right: 0px;
    z-index: 9999;
    padding-top: 0px;
    padding-left: 16.6%;
    padding-bottom: 0;
}
.bgMenue{
    background-color: #193f3d;
}
.nav-list{
    list-style: none;
    font-size: 30px;
    padding: 70px;
    color: white;
    border-left: 1px solid;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 0px;
}
.nav-list li{
    padding-bottom: 10px;
}
.nav-list li a{
    color: white;
    padding-bottom: 10px;
}
.menu-follow .social-media{
    float: right;
}
@media (max-width:767px){
    .circle{
        width: 70% !important;
    }
    .logo-contain{
        width: auto;
        border-right: none;
    }
    .menue-contain img{
        float: right;
        position: absolute !important;
        right: 0;
        top: 0px;
    }
    .darkMode{
        width: auto;
    }
    .searchContain{
        float: left;
    }
      .bg  .slider-text-contain {
        padding-left: 0px ;
    }
    .title-contain h1{
        position: relative;
    top: 40%;
    font-weight: 100;
    text-align: center;
    color: white;
    transform: rotate(0deg) !important;
    }
    
}

// .navigation {
//     &__checkbox {
//         display: none;
//     }

//     &__button {
//         // background-color: $color-white;
//         height: 7rem;
//         width: 7rem;
//         position: fixed;
//         top: -1rem;
//         right: 1rem;
//         border-radius: 50%;
//         z-index: 2000;
//         // box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
//         text-align: center;
//         cursor: pointer;

//         @include respond(tab-port) {
//             top:4rem;
//             right:4rem;
//         }

//         @include respond(phone) {
//             top:3rem;
//             right:3rem;
//         }
//     }

//     &__background {
//         height: 6rem;
//         width: 0;
//         border-radius: 50%;
//         position: fixed;
//         top: 6.5rem;
//         right: 6.5rem;
//         background-image: radial-gradient($color-primary-light, $color-primary-dark);
//         z-index: 1000;

//         // transform: scale(80);
//         transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

//         @include respond(tab-port) {
//             top:4.5rem;
//             right:4.5rem;
//         }
//         @include respond(phone) {
//             top:3.5rem;
//             right:3.5rem;
//         }
//     }

//     &__nav {
//         height: 100vh;
//         position: fixed;
//         top: 0;
//         left: 0;
//         z-index: 1500;

//         // next two hide the navigation
//         opacity: 0;
//         width: 0;
//         transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//     }

//     &__list {

//         list-style: none;
//         text-align: center;
//         width: 100%;
//     }

//     &__item {
//         margin: 1rem;
//     }

//     &__link {
//         &:link,
//         &:visited {
//             display: inline-block;
//             font-size: 3rem;
//             font-weight: 300;
//             padding: 1rem 2rem;
//             color: $color-white;
//             text-decoration: none;
//             text-transform: uppercase;
//             background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
//             background-size: 230%;
//             transition: all .4s;

//             span {
//                 margin-right: 1.5rem;
//                 display: inline-block;
//             }
//         }

//         &:hover,
//         &:active {
//             background-position: 100%;
//             color: $color-primary;
//             transform: translateX(1rem);
//         }
//     }

//     //FUNCTIONALITY
//     // use the '~' for an sibling (not direct)
//     &__checkbox:checked ~ &__background {
//         transform: scale(80);
        
//     }

//     &__checkbox:checked ~ &__nav {
//         opacity: 1;
//         width: 100%;
//         background-color: #193f3d;
//     }

//     //ICON
//     &__icon {
//         position: relative;
//         margin-top: 3.5rem;

//         //
//         &,
//         &::before,
//         &::after {
//             width: 2rem;
//             height: 2px;
//             background-color: #fff;
//             display: inline-block;
//         }

//         //
//         &::before,
//         &::after {
//             content: "";
//             position: absolute;
//             left: -8px;
//             transition: all .2s;
//         }

//         //
//         &::before {
//             top: -.8rem;
//         }

//         &::after {
//             top: .8rem;
//         }
//     }

//     &__button:hover &__icon::before {
//         top: -1rem;
//     }

//     &__button:hover &__icon::after {
//         top: 1rem;
//     }

//     &__checkbox:checked + &__button &__icon {
//         background-color: transparent;
//     }

//     &__checkbox:checked + &__button &__icon::before {
//         top: 0;
//         transform: rotate(135deg);
//     }

//     &__checkbox:checked + &__button &__icon::after {
//         top: 0;
//         transform: rotate(-135deg);
//     }
// }
