.news-desc-container {
	margin-top: 50px;
}
.plane {
	width: 100%;
	height: 360px;
}
.desc-data {
	p {
		display: inline-block;
		padding-top: 30px;
	}
}
.full-desc {
	h5 {
		margin-top: 30px;
	}
	p {
		line-height: 2;
	}
}
