@import "/src/sass/varibles";

.mapBg {
	background-image: url('../img/mapBg.jpeg');
	background-size: cover;
}
.mapContain {
	padding: 40px;
}
.mapImgContain {
	img {
		width: 70%;
	}
}
.bgGreen {
	background:$green-gradiant;
}
.title-contain {
	h1 {
		transform: rotate(90deg);
		position: relative;
		top: 40%;
		font-weight: 100;
		color: $color-white;
	}
}
