.mapBg{
    background-image: url('../img/mapBg.jpeg');
    background-size: cover;
}
.mapContain{
    padding: 40px;
    
}
.mapImgContain img {
    width: 70%;
}

.bgGreen {
    background: linear-gradient(180deg, #193f3d 0%, rgb(101 125 126 / 61%) 86%);
}

